.container-3 {
    padding-top : 100px ;
}

.container-3 h1 {
    color: #fcfcfd;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
    font-family: "Starzone", "DM Sans", sans-serif;
    text-transform: uppercase;
    margin:25px;
}

.container-3 h2 {
    margin: 0px;
    font-size: 23px;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
    color: #F3BA2F !important;
    font-family: "Aldrich", sans-serif;
}

.container-3 iframe {
    display: block;
    margin: 60px auto;
    width: 90%;
    height:900px;
    border-radius: 20px;
}

.aboutfooter {
    font-weight: bold;
    font-size: 35px;
    letter-spacing: -0.01em;
    font-family: "Aldrich", sans-serif;
    display: flex; 
    margin: auto ;
    width: 90%;
    text-align: left;
    padding-bottom: 140px;
}

@media (max-width : 768px) {
    .container-3 iframe {
        height: 300px;
        width : 80% ;
    }
    .aboutfooter {
        font-weight:normal;
    font-size: 25px;
    letter-spacing: -0.01em;
    font-family: "Aldrich", sans-serif;
    display: flex; 
    margin: auto ;
    width: 90%;
    text-align: left;
    padding-bottom: 140px;
    }
}
