.container-5 {
    padding-top: 120px ; 
    padding-bottom: 120px;
}

.container-5 h1 {
    color: #fcfcfd;
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 100px;
    text-align: center;
    text-transform: uppercase;
    line-height: 48px;
    font-family: "Starzone", "DM Sans", sans-serif;
    text-transform: uppercase;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 4 columns with equal width */
    grid-auto-rows: minmax(100px, auto); /* Automatic row sizing */
    padding: 0px 100px;
  }
  
  .grid-card {
    background-color: transparent; /* Background color for grid items */ 
    padding: 60px 45px 0 45px;
    box-sizing: border-box;
    text-align: center;
    font-family: "Aldrich", sans-serif;
  }

  .grid-card img {
    display: block;
    width: 100%;
    border-radius: 16px;
    margin-bottom: 26px;
    vertical-align: middle;
  }

  .title {
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #fcfcfd;
  }

  .description {
    font-weight: 500;
    font-size: 21px;
    line-height: 31px;
    text-align: center;
    margin-top: 20px;
  }

@media (max-width:768px) {
    .grid2 {
        grid-template-columns: repeat(1, 1fr); /* 4 columns with equal width */
        grid-auto-rows: minmax(100px, auto); /* Automatic row sizing */
        padding: 0px 30px;
    }
}