/* App.css */
.navbar {
    box-sizing: border-box;
    display: flex;
    justify-content:space-around;
    align-items: center;
    background: transparent; /* Make the background transparent */
    padding: 20px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%; 
}
/* .navbar :active{
    
} */
.activeNavbar{
    background-color: #020202;
}
  .LogoLinks {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .logo {
    height : 35px;
  }
  .logo img {
    height: 35px; /* Adjust the height of your logo */
  }
  
  .links {
    display: flex;
    list-style: none;
    padding: 0;
  }
  
  .links a {
    text-decoration: none;
    margin: 0px 15px;
    cursor: pointer;
    color: white; /* Link text color */
  }
  
  .menu-icon {
    display: none; /* Hide the menu icon by default */
    cursor: pointer;
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 5px 0;
    transition: 0.4s;
  }
  .icondiv {
    display: flex;
    justify-content: center;
    align-items: center;
    gap:15px;
}

.svg_icons {
    color: #fff;
    text-decoration: none;
    transition: all ease 0.3s;
    margin-right: 3px;
    margin-left: 3px;
    padding: 3px;
    display: inline-block;
}

.button1nav {
  font-size: medium;
  font-weight:bold;
  display: inline-flex;
  /* outline: 2px solid transparent; */
  outline-offset: 2px;
  position: relative;
  white-space: nowrap;
  transition: all 300ms ease;
  justify-content: center;
  align-items: center;
  width: auto;
  line-height: 1.0;
  /* border: solid 2px #D8B168; */
  background: linear-gradient(90.02deg, #06E3EA 0.92%, #5D92FC 99.98%);
  border-radius: 8px;
  color: #FFFFFF;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
  height: 40px;
}

.button1nav:hover {
  border: solid 2px #5D92FC; 
  transition: 0.4s ease-in;
}

.button2nav {
  
  font-size: medium;
  font-weight: bold;
  display: inline-flex;
  outline: 2px solid transparent;
  outline-offset: 2px;
  position: relative;
  padding: 0px 0px;
  white-space: nowrap;
  transition: all 300ms ease;
  justify-content: center;
  align-items: center;
  width: auto;
  line-height: 1.0;
  /* border: 2px solid #d8b168; */
  /* background-color: transparent; */
  padding: 7px 7px;
  padding-bottom: 5px;
  color: #fff;
  text-decoration: none;
  border-radius: 10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  font-family: "Starzone", "DM Sans", sans-serif;
  text-transform: uppercase;
  background: #1e1f2a;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
  
  .button button {
    background-color:#020202 ; /* Button background color */
    color: white; /* Button text color */
    padding: px 0px;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 10px;
    border: 1px solid #029BFB;
  }
  /* Media query for responsive menu */
  @media (max-width: 1050px) {
    .button button {
      display:none;
    }

    .links {
      flex-direction: column;
      position: absolute;
      top: 80px;
      left: -100%;
      width: 100%;
      background-color: transparent; /* Background color for the mobile menu */
      transition: 0.3s;
      align-items: center;
      gap: 20px;
    }
  
    .links.open {
      left: 0;
    }
  
    .links-click:hover {
      background-color: rgb(0,0,0,0.4);
      width: 100%;
      transition: 0.3s;
      padding:8px;
    }
    .menu-icon {
      display: block; /* Show the menu icon for smaller screens */
    }
  }
  .shuffle{
    width: 100px;
  }
  